<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SiteResume" %></title>
    <%= csrf_meta_tags %>

    <script src="//js.pusher.com/2.2/pusher.min.js"></script>


    <script>
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
            if (window.console && window.console.log) {
                /*window.console.log(message);*/
            }
        };

        var pusher = new Pusher('bf3efe4f2a538719f902');
        var channel = pusher.subscribe('test_channel');
        var object_counter = {};

        channel.bind('my_event', function(data) {
            var object = data.message;

            for (var global_key in object_counter) {
                for( var object_key in object ) {
                    if(global_key==object_key) {
                        object_counter[global_key] += object[object_key];
                        delete object[object_key];
                    }
                }
            }

            _.extend(object_counter, object);

            var arr = sortObject(object_counter);
            arr = arr.slice(0,100);
            var duration = 750; // duration for transitions
            var fill = d3.scale.category20();
            var layout;
            var wordScale=d3.scale.linear().domain([1,75]).range([8,48]);

            console.log(arr);

            layout = d3.layout.cloud()
                    .timeInterval(2)
                    .size([800,600])
                    .words(arr.map(function(d) {
                        return {text: d.text, size: d.weight };
                    }))
                    .padding(5)
                    .rotate(function() { return 0; })
                    .fontSize(function(d) { return wordScale(d.size); })
                    .on("end", draw);
            layout.start();

            function draw(words) {
                var cloudGroup = d3.select("#wordcloud").select("svg")
                        .select("g")
                        .attr("transform", "translate(400,300)");

                var cloudData = cloudGroup
                        .selectAll("text")
                        .data(words);


                cloudData.enter().append("text")
                        .style("font-size", "0px")
                        .style("font-family", "Impact")
                        .style("fill", function(d) { return fill(d.text); })
                        .attr("text-anchor", "middle")
                        .attr("transform", function(d) {

                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function(d) { return d.text; })
                        .transition().duration(duration).style("font-size", function(d) { return wordScale(d.size) + "px"; });
                // This with updating existing data
                cloudData.transition().duration(duration).style("font-size", "0px")
                        .style("font-size", "0px")
                        .attr("text-anchor", "middle")
                        .attr("transform", function(d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function(d) { return d.text; })
                        .style("font-size", function(d) { return wordScale(d.size) + "px"; });
                cloudData
                        .exit()
                        .remove()
                        .transition().duration(duration).style("font-size", "0px");
            }
        });
        function sortObject(obj) {
            var arr = [];
            for (var prop in obj) {
                if (obj.hasOwnProperty(prop)) {
                    arr.push({
                        'text': prop,
                        'weight': obj[prop]
                    });
                }
            }
            arr.sort(function(a, b) { return b.value - a.value; });
            //arr.sort(function(a, b) { a.value.toLowerCase().localeCompare(b.value.toLowerCase()); }); //use this to sort as strings
            return arr; // returns array
        }
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>


  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h3 class="text-center ">SiteResume</h3>

      </div>
    </div>

    <div class="container">
        <div>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
    </div> <!-- /container -->

  </body>
</html>
